.calculator {
    width: 150px;
    border: 1px dashed black;
}

.numpad {
    width: 100%;
    min-height: 100px;
}

.numpad button {
    margin: 1px;
}

.screen {
    width: 100%;
    resize: none;
    height: 40px;
    padding: 10px;
    overflow-y: hidden;
    border: none;
}

#output {
    height: 30px;
    text-align: right;
}

.flex-4 {
    display: flex;
    flex-wrap: wrap;
}

.flex-4 > * {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 21%;
}