
body {
    background-color: #100;
    overflow: hidden;
    font-family: 'Shadows Into Light', cursive;
}

.gameBox {

    background:
        radial-gradient(5vh 10vh at 100% 100%, #300 40%, burlywood 50%, transparent 52%) 45% 62% / 5vh 5vh no-repeat,
        radial-gradient(5vh 10vh at 0% 100%, #300 40%, burlywood 50%, transparent 52%) 55% 62% / 5vh 5vh no-repeat,
        radial-gradient(circle, ivory 0% 55%, transparent 65%) 50% 62% / 50% 50% no-repeat,
        radial-gradient(circle at 0% 100%, transparent 39%, hsla(0, 0%, 0%, .5) 40%, burlywood 41%, ivory 61%) 17% 71% / 40% 10% no-repeat,
        radial-gradient(circle at 100% 100%, transparent 39%, hsla(0, 0%, 0%, .5) 40%, burlywood 41%, ivory 61%) 84% 71% / 40% 10% no-repeat,
        radial-gradient(70vh 65vh at 50% 35%, ivory 40%,burlywood 50%, hsla(0, 0%, 0%, .5) 50.2%, transparent 51%) 0 0,
        linear-gradient(to right, transparent 21%, hsla(0, 0%, 0%, .5) 21.8%, burlywood 22%, ivory 32% 69%, burlywood 79%, hsla(0, 0%, 0%, .5) 79.2%, transparent 80%) 0 60% / 100% 10% no-repeat,

        radial-gradient(ellipse at 50% 10%, ivory 20%, burlywood 32%, hsla(0, 0%, 0%, .5) 32.5%, transparent 34%) 0 110% / 100% 20% no-repeat;
}

.logo,
.reset {
    color: red;
    text-shadow: 0 0 1vh red;
    transform: translateX(5vh) translateY(-10vh) rotate(-25deg);
}

.screen {
    margin: 0 20vh;
    border-top-left-radius: 10vh 5vh;
    border-top-right-radius: 10vh 5vh;
    border-bottom-right-radius: 10vh 5vh;
    border-bottom-left-radius: 10vh 5vh;
}

.reset {
    font-size: 5vh;
    transform: translateX(-15vh) rotate(20deg);
}

.menu {
    margin: 0 26vh ;
}

.accent,
.accent::after {
    right: 0;
    bottom: 0;
    width: 100vh;
    height: 15vh;
    background:
        radial-gradient(15vh 10vh, ivory 30%, transparent 50%) 85vh 2.5vh / 15vh 10vh no-repeat, 
        radial-gradient(10vh 10vh, ivory 20%, burlywood 50%, transparent 51% ) 90vh 0 / 10vh 10vh no-repeat,
        radial-gradient(10vh 10vh, ivory 20%, burlywood 50%, transparent 51% ) 90vh 5vh / 10vh 10vh no-repeat,
        radial-gradient(15vh 10vh, ivory 30%, transparent 50%) 0vh 2.5vh / 15vh 10vh no-repeat, 
        radial-gradient(10vh 10vh, ivory 20%, burlywood 50%, transparent 51% ) 0 0 / 10vh 10vh no-repeat,
        radial-gradient(10vh 10vh, ivory 20%, burlywood 50%, transparent 51% ) 0 5vh / 10vh 10vh no-repeat,

        radial-gradient(86vh 5vh at 50% 0, transparent 50%, burlywood 52%, ivory) 8vh 1.5vh / 86vh 6vh no-repeat,
        radial-gradient(86vh 5vh at 50% 100%, transparent 50%, burlywood 52%, ivory) 8vh 7.3vh / 86vh 6vh no-repeat;

    z-index: -1;
    transform: translateX(10vh) translateY(-28vh) rotate(20deg);
}

.accent::after {
    display: block;
    position: absolute;
    content: "";
    transform: rotate(-40deg);
}